
.slick-prev:before, .slick-next:before{
    font-size: 50px!important;
    color: rgb(15, 52, 96)!important;
    opacity: unset!important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: unset!important;
    color: rgb(125, 135, 156) !important;
}


.slick-prev:hover:before,
.slick-next:hover:before
{
    color: rgb(15, 52, 96)!important;
}

.slick-prev{
    width: 40px!important;
    left: 0!important;
    position: absolute;
    height: 40px!important;
    z-index: 1!important;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.slick-next{
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 19%) 0 10px 20px, rgb(0 0 0 / 23%) 0 6px 6px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}