.cart {
  width: 380px;
}
.cart_drawer_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart_header {
  display: flex;
  align-items: center;
  color: rgb(43, 52, 69);
  padding: 12px;
}
.button {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 150ms ease-in-out 0s;
}
.cart_productCard_price{
    width: 172px;
}
.card_productCard_delete{
    color: rgb(125, 135, 156);
    font-size: 20;
    cursor:pointer;
}
